
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dev" class="org.example.Dev" autowire="byType">
<!--        <constructor-arg index="0" value="14"/>-->
<!--        <property name="laptop" ref="lap"/> -->
<!--        <constructor-arg ref="lap"/>-->
<!--        <property name="comp" ref="lap"/>-->

    </bean>
    <bean id="lap" class="org.example.Laptop" primary="true">
    </bean>
    <bean id="desk" class="org.example.Desktop">
    </bean>
</beans>